<form action="/send" method="POST">
    <p>user Name: <input type="text" name = "userName" placeholder = "user Name"></p>
    <p>user Email: <input type="email" name = "userEmail" placeholder="user Email"></p>
    <button>submit</button>
</form>